.jd-clo2 {
	width: 790px;
	height: 480px;
	float: left;
	margin-left: 10px;
}
.jd-clo2-hd {
	height: 340px;
	margin-bottom: 10px;
	position: relative;
}
.jd-clo2-bd div {
	width: 390px;
	height: 130px;
	float: left;
}
.jd-clo2-bd div img {
	width: 100%;
}